
# MAC SPECIFIC
*/.DS_Store
Mpp_Project/project.properties
Mpp_Project/lint.xml

# COMMON
*~
*/.settings
*/.classpath
Mpp_Project/bin
Mpp_Project/gen
Mpp_Project/proguard-project.txt

# IDEA SPECIFIC
/.idea
*.iml
/out/

Mpp_Project/libs/android-support-v4.jar

Mpp_Project/libs/android-support-v4.jar

Mpp_Project/libs/android-support-v4.jar

Mpp_Project/src/dk/aau/mpp_project/activity/LogInActivity.java

Mpp_Project/src/dk/aau/mpp_project/activity/LogInActivity.java
